.exclusive-title{
    color: #fa929d;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 20px;
    font-weight: 600;
    font-family: Lato,HelveticaNeue,Helvetica Neue,sans-serif,Open Sans,HelveticaNeue,Helvetica Neue,sans-serif;
    letter-spacing: 4px;
}
.exclusive-sub-title{
    position: relative;
}
.exclusive-sub-title::before{
    content:'';
    width:100px;
    height:1px;
    background-color: #fa929d;
    position: absolute;
    margin-left: -120px;
    margin-top: 15px;

}
.exclusive-sub-title::after{
    content:'';
    width:100px;
    height:1px;
    background-color: #fa929d;
    position: absolute;
    margin-left: 20px;
    margin-top: 15px;
}

.img-body p{
    writing-mode: vertical-rl;
}

.cart-body .overlay{
    transition: 1s;
    transform: scale(0);
    
}
.cart-body:hover .overlay{
    transform: scale(1);
}